<div id="recipe-module">


<div class="newrecipe">
<span id="the-table-recipe2" style=color:white;>
<h1>Editing Recipe</h1>

<%= render 'editform', recipe: @recipe %>
<div class="btn-group" id="main-edit-btns" role="group">
  <button type="button" class="btn btn-default"><%= link_to 'Show', @recipe, :id => "pri-btn" %></button>
  <button type="button" class="btn btn-primary"><%= link_to 'Back', Category.find(@recipe.category_id) %></button>
</div>

</span>
</div>
</div><!--recipe-module-->
