<div id="recipe-module">

<div class="newrecipe">
<span id="the-table-recipe2" style=color:white;>
<h1>New Recipe</h1>
<%= render 'form', recipe: @recipe %>
 <button type="button" class="btn btn-primary" id="new-back-btn"><%= link_to 'Back', "/" %></button>
</span>
</div>


</div><!--recipe-module-->
